html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header{
	display: block;
	font: 16px;
}
div{
	float: left;
}
#content {
	border: 2px solid gray;
	border-radius: 5px;
	margin-right: auto;
	margin-left: 25%;
	width: 50%;
}
#man {
	margin-left: 20%;
	margin-right: auto;
}
#message_view {
	margin-left: 5%;
}
#game_view {
	width: 300px;
}
#controls {
	padding-top: 5%;
}
